.header {
    width: 1200px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgb(215, 252, 245);
    padding: 20px;
    border: 5px solid black;
    margin: 0 auto;
}

.main {
    width: 1200px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.footer {
    width: 1200px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgb(167, 167, 167);
    padding: 20px;
    border: 5px solid black;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
    align-content: space-between;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 25px;
}

div {
    font-size: 19px;
}

ul {
    margin: -20px;
}

.main1 {
width: 350px;
    background-color: rgb(196, 154, 236);
padding: 20px;
border: 5px solid black;
margin: 1px;
}

.main2 {
   width: 850px;
    background-color: rgb(224, 245, 185); 
   padding: 20px;
border: 5px solid black;
margin: 1px;
}

.headerph {
    width: 350px;
    padding: 20px;
margin: 1px;
text-align: center;
}

.headertext {
    width: 850px;
    padding: 20px;
margin: 1px;
text-align: center;
}

.footerimage {
    width: 100px;
    margin: 0 10px;
}

.footerimage2 {
    width: 50px;
    margin: 0 10px;
}